/* You can add global styles to this file, and also import other style files */
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0a1128;
  color: whitesmoke;
  font-family: "Roboto Mono Medium for Powerline", 'sans-serif';
}

input {
  padding: 10px 16px;
  border-radius: 6px;
  border: 1px solid #034078;
}
